 .user-profile {
     width: 90%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     margin: 2rem auto;
     padding: 2rem;
     background-color: #336699;
     box-shadow: 2px 2px 12px #336699;
     border-radius: 10px;
     z-index: 1;
     color: #fff;
 }

 .user-settings-holder {
     position: relative;
     width: 100%;
 }

 .user-settings {
     position: absolute;
     left: 1.2rem;
     cursor: pointer;
     transition: .5s;
 }

 .user-settings:hover {
     transform: rotateZ(180deg);
 }

 .user-profile-img {
     width: 250px;
     height: 250px;
     border-radius: 50%;
 }

 .user-profile-img img {
     width: 100%;
     height: 100%;
     border-radius: 50%;
 }

 .user-profile-name img {
     width: 30px;
     height: 30px;
     cursor: pointer;
 }

 .inline {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 1rem;
 }

 .user-activ {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: green;
 }

 .user-inactive {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: gray;
 }

 .user-active-role {
     text-align: center;
     font-size: 20px;
     font-weight: bold;
 }

 .user-details {

     width: 90%;
     display: flex;
     flex-direction: column;
     justify-content: left;
     align-items: left;
     gap: 1rem;
     margin: 0 auto 2rem;
     padding: 2rem;
     background-color: #ccc;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
 }

 .vertical-line {
     height: 30px;
     width: 2px;
     background-color: #fff;
 }

 .user-edit {
     width: 30px;
     height: 30px;
     cursor: pointer;
 }

 .stud-container {
     height: 90vh;
 }

 @media only screen and (max-width: 1000px) {
     .table {
         overflow-y: hidden;

     }
 }