.chat-container {
    width: 400px;
    height: 400px;
    position: fixed;
    bottom: 0;
    right: .5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transform: translateY(89%);
    transition: .3s;
    z-index: 100000;
}

.chat-container-active {
    width: 400px;
    height: 400px;
    position: fixed;
    bottom: 0;
    right: .5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transform: translateY(0%);
    transition: .3s;
}

.chat-bar {
    display: flex;
    flex-direction: row;
    background-color: #002db3;
    font-size: 22px;
    color: #fff;
    gap: 10px;
    position: relative;
    padding: 5px;
    cursor: pointer;
}

.chat-main-content {
    height: 290px;
    overflow-y: scroll;
}

.chat-main-content p {
    text-align: center;
    font-size: 20px;
    margin-top: 25%;
}

.chat-msg-this {
    position: relative;
    margin: 10px;
    background-color: #003399;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
}

.chat-msg-other {
    position: relative;
    margin: 10px;
    background-color: #6600ff;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
}


.chat-msg-name {
    position: absolute;
    font-size: 14px;
    top: .1rem;
    right: .5rem;
    font-weight: bold;
    color: #cccccc;
}

.chat-msg-date {
    position: absolute;
    font-size: 14px;
    top: .1rem;
    left: .5rem;
    font-weight: bold;
    color: #cccccc;
}

.chat-msg-body {
    margin-top: 15px;
}

.chat-msg-nobody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.chat-msg-palceholder {
    color: gray;
    font-size: 20px;
}

.chat-input {
    width: 360px;
    height: 25px;
    position: absolute;
    bottom: 2.5rem;
}

.chat-input textarea {
    width: 100%;
    font-size: 20px;
    resize: none;
}

.chat-input-btn {
    right: 0;
    position: absolute;
    bottom: 1rem;
    cursor: pointer;
}

.chat-input-btn img {
    width: 100%;
    height: 100%;
}



.search-click-active {
    border: none;
    top: 4px;
    right: 3px;
    outline: none;
    background-color: #fff;
    border: 1px solid #fff;
    position: absolute;
    width: 50%;
    height: 35px;
    padding: 15px;
    transition: all 0.3s;
    z-index: 1000;
    transform: translateY(0);
}

.search-click {
    transform: translateY(100%);
}

.search-click-active:focus {
    width: 100%;
    padding-left: 25px;
    border: 1px solid #fff;
    right: 0;
    top: 0;
    height: 43px;
}